@import './marketplace.css';

body {
  font-family: 'Poppins Regular';
  /* padding: 0px; */
  margin: 0px;
}

.top-head {
  display: flex;
}

.top-head-logo {
  flex-grow: 1;
  padding: 10px 10px;
}

.top-head-links {
  flex-grow: 4;
  padding: 10px 10px;
}

.top-head-links ul > li {
  display: inline;
  padding-right: 30px;
  padding-left: 30px;
  color: #fff;
}

.top-head-login-links {
  flex-grow: 1;
}

.top-head-login-links {
  flex-grow: 1;
  padding: 10px 10px;
  font-weight: 100;
  font-weight: 100;
}

.top-head-login-links ul > li {
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
}

.top-head {
  min-height: 80px;
  border-bottom: 0.8px solid #e4dfdf;
}

.top-head-logo img {
  width: 200px;
  padding-left: 50px;
}

.top-head a {
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.top-head-login-links .signup {
  background: #5633c1;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}

.news-letter {
  display: flex;
  min-height: 100px;
  background: #5633c1;
  color: #fff;
  flex-wrap: wrap;
  align-content: center;
}

.news-letter .content {
  /*flex:  1;*/
  padding: 30px 30px;
}

.news-letter .input-text {
  flex: 1;
}

.news-letter .form-input {
  display: flex;
  width: 600px;
  padding: 0.5em 1em;
  margin: 0 0 1em 0;
  align-content: center;
}

.form-input input {
  flex-grow: 1;
  align-items: center;
}

.form-input button {
  margin-left: 10px;
  padding: 0 1em;
}

/* footer {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

footer ul li {
  list-style: none;
}

footer ul li > a {
  color: #000;
  text-decoration: none;
}

footer ul li:nth-child(1) {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

footer .follow-us-links {
  flex: 1;
}

footer .company-links {
  flex: 1;
}

footer .support-links {
  flex: 1;
}

footer .social-media-links {
  flex: 1;
} */

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 300px 600px [main-start] 1fr [main-end] 100px 100px;
  grid-template-rows: 100px [main-start] 100px 100px [main-end] 100px;
}

/*[class^="item"] {
  background-color: blue;
}

.item1 {
  background-color: red;
  grid-area: main;
}*/

.dots-top {
  background: url('../images/dots.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  left: -100px;
  width: 200px;
  height: 200px;
}

.dots-below {
  background: url('../images/dots.png');
  background-size: cover;
  position: absolute;
  bottom: 0px;
  right: -100px;
  width: 200px;
  height: 200px;
}

.quoutes {
  background: url('../images/quoutes.png');
  background-size: cover;
  position: absolute;
  bottom: 0px;
  right: -100px;
  width: 200px;
  height: 200px;
}

.slider {
  background: url('../images/new-hero.png');
  background-size: cover;
  min-height: 500px;
  display: flex;
  /*align-items:center;*/
  flex-wrap: wrap;
}

.slider .content {
  /*flex: 1;*/
  width: 50%;
  margin-left: 50px;
  margin-top: 50px;
}

.slider .content p {
  margin-bottom: 60px;
}

.slider-button {
  background: #5633c1;
  color: #fff;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 16px;
  word-spacing: 2px;
  text-decoration: none;
  letter-spacing: 2.5px;
}

.container.ecg {
  margin-bottom: 60px;
  margin-top: 30px;
  padding: 30px 30;
}

.ecg > h1 {
  text-align: center;
}

.ecg > p {
  text-align: center;
  width: 81%;
  margin: 0 auto;
}

.rdn {
  /*background: #5633c1;
  min-height: 300px;
  padding: 10px 10px;*/
}

.rdn h1 {
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.rdn .content {
  display: flex;
  padding: 30px 30px;
  color: #fff;
  text-align: center;
}

.rdn .content > .child-content {
  flex: 1;
}

.brands {
  text-align: center;
  margin-top: 60px;
}

.brands p,
h1 {
  padding-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.brands h1 {
  text-align: center;
  margin-bottom: 20px;
}

.brands-list {
  display: flex;
  margin: 60px 60px;
}

.brand-img {
  flex: 1;
}

.benifits.title {
  justify-content: center;
}

.promos {
  display: flex;
  padding: 80px 80px;
}

.promo {
  flex: 1;
}

.promo-1 {
  background: url('../images/promos/1.jpg');
  background-size: cover;
  width: 200px;
  height: 400px;
  margin: 10px 10px;
  border-radius: 10px;
}

.promo-2 {
  background: url('../images/promos/2.jpg');
  background-size: cover;
  width: 200px;
  height: 400px;
  margin: 10px 10px;
  border-radius: 10px;
}

.benifits {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.benifit {
  flex: 0 0 33.333333%;
  text-align: center;
}

.best-sellers {
  display: flex;
  padding: 80px 80px;
  padding-top: 0px;
  padding-bottom: 20px;
}

.best-sell {
  flex: 1;
  width: 400px;
  height: 400px;
  margin: 10px 10px;
  border-radius: 10px;
  justify-content: flex-end;
}

.sell-1 {
  background: url('../images/best-seller/1.jpg');
  background-size: cover;
}

.sell-2 {
  background: url('../images/best-seller/2.jpg');
  background-size: cover;
}

.sell-3 {
  background: url('../images/best-seller/3.jpg');
  background-size: cover;
}

.sell-4 {
  background: url('../images/best-seller/4.jpg');
  background-size: cover;
}

.best-sell .content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: baseline;
  justify-content: flex-end;
}

.best-sell .content > a {
  align-self: flex-end;
  text-align: right;
  background: #323232;
  padding: 10px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  /* word-spacing: 1px; */
  letter-spacing: 3px;
}

.best-seller-title {
  padding: 85px 85px;
  padding-bottom: 0px;
  display: flex;
  padding-top: 0px;
}

.best-seller-title .title {
  flex-grow: 12;
  justify-content: flex-start;
  display: flex;
  margin-top: 20px;
}

.best-seller-title .arrows {
  flex: 1;
  display: flex;
  cursor: pointer;
}

.deal-content-sale h4 {
  font-size: 11px;
  margin: 0px;
  background: #ff663c;
  font-weight: 100;
  width: 50px;
  text-align: center;
  padding: 3px 3px;
  color: #fff;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.deal-content-name > p {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.deal-1 {
  background: url('../images/products/1.png');
  background-size: cover;
}

.deal-2 {
  background: url('../images/products/2.png');
  background-size: cover;
}

.deal-3 {
  background: url('../images/products/3.png');
  background-size: cover;
}

.deal-4 {
  background: url('../images/products/4.png');
  background-size: cover;
}

.top-sell-title {
  padding: 80px 80px;
  padding-bottom: 0px;
}

.top-sell {
  display: flex;
}

.top-sell-items {
  flex: 1;
}

.top-sell-items.item-1 {
  background: url('../images/products/small-1.png');
  background-size: cover;
  width: 300px;
  height: 300px;
}

.testimonials {
  /*background: url('assets/images/testi.jpg');
	background-size: cover;*/
  width: 100%;
  height: 400px;
  margin-top: 60px;
  /* text-align: center; */
  position: relative;
  overflow: hidden;
}

.testimonials .content {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  background: white;
  padding: 30px 30px;
  -webkit-box-shadow: -2px 10px 15px -2px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -2px 10px 15px -2px rgba(0, 0, 0, 0.19);
  box-shadow: -2px 10px 15px -2px rgba(0, 0, 0, 0.19);
  flex-wrap: wrap;
  background: #f5f5f5;
  position: relative;
  overflow: hidden;
}

.testimonials .content img {
  width: 70px;
  position: absolute;
  bottom: -19px;
  right: 23px;
}

.testimonials .content > .items {
  flex: 1;
  background: red;
}

.testimonials .content > .name {
  flex: 1;
  align-items: flex-start;
  justify-content: revert;
}

.testimonials .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -50px;
}

.testimonials .content > .name > p {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.testimonials {
  margin-bottom: 100px;
}

.testimonials .content > .name > p:first-child {
  color: #5633c1;
  font-weight: bold;
  font-size: 16px;
}

.signup-bg {
  background: url('../images/signup.png');
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.signup-bg .content {
  flex: 1;
}

.signup-bg .content > a {
  background: #5633c1;
  padding: 10px 10px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  word-spacing: 2px;
  /* margin-top: 10px; */
  /* padding-top: 10px; */
}

.hot-deals {
  text-align: center;
  padding: 80px 80px;
}

.hot-deals > .content {
  display: flex;
  flex-wrap: wrap;
}

.hot-deals .content > .image-1 {
  background: url('../images/bottom-1.jpg');
  background-size: cover;
  width: 300px;
  height: 300px;
}

.hot-deals .content > .image-2 {
  background: url('../images/vertical-deal.jpg');
  background-size: cover;
  width: 150px;
  height: 300px;
}

.hot-deals .content > .image-3 {
  background: url('../images/bottom-2.jpg');
  background-size: cover;
  width: 500px;
  height: 150px;
}

.break-column {
  flex-basis: 100%;
  width: 0;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.social-media-links ul > li > a {
  padding: 10px 10px;
}

/*.container {
  display: flex;
  flex-wrap: wrap;
}*/

.best-seller-items {
  display: flex;
  margin-bottom: 60px;
}

.best-seller-items .seller-items {
  flex: 1;
}

.seller-items {
  flex: 1;
}

.seller-items.links {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 75%;
}

.seller-items ul.filter > li {
  display: inline;
  padding: 10px 10px;
}

.links-fiter {
  display: flex;
  flex-wrap: wrap;
}

.links-fiter ul.filter {
  flex: 1;
  list-style: none;
}

.links-fiter ul.select {
  list-style: none;
  margin-right: 10px;
}

.links-fiter ul.filter > li > a {
  color: #000;
}

.categories ul.category {
  list-style: none;
}
.categories ul.category li > a {
  color: #000;
  text-decoration: none;
}

.categories ul.category li {
  padding-bottom: 5px;
}

.categories ul.category li.title {
  font-size: 20px;
  margin-bottom: 20px;
}

.product-container > h4 {
  padding: 0px;
  margin: 0px;
}

.product-container > .sub-title {
  background: #5633c1;
  width: 300px;
  text-align: center;
  color: #fff;
  height: auto;
  display: none;
}

.product-container > .sub-title > h4 {
  padding: 10px 10px;
  margin-bottom: 0px;
}

/* .product-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
} */

.product-list .product-container {
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* border-left: 1px solid #ccc; */
  /* padding: 10px 10px 10px; */
  margin: 10px 10px;
  /* border-right: 1px solid #ccc; */
}

.filters .categories {
  border-bottom: 1px solid #e4dfdf;
  margin-top: 60px;
}

.active {
  color: #5633c1;
}

.category-banner {
  display: flex;
}

.category-banner-links {
  /* flex: 1; */
  margin-top: 20px;
  /* flex-shrink: 1; */
  flex: 0 0 15%;
  background: #fff;
  height: 360px;
  /* text-align: center; */
  /* margin-left: 20px; */
  /* margin-right: 30px; */
}

.category-banner-links ul {
  list-style: none;
}

.category-banner-links ul > li {
  margin-bottom: 20px;
}

.category-banner-slider {
  flex: 0 0 65%;
  margin-top: 30px;
}

.category-banner-slider-content {
  display: flex;
  align-content: center;
  justify-content: center;
}

.category-icons {
  /* flex: 0 0 20%; */
  margin-right: 30px;
  flex: 1;
  padding: 10px 10px;
}

.category-icons ul > li {
  margin-bottom: 30px;
  font-size: 16px;
}

.category-icons ul {
  padding: 0px;
  padding-left: 60px;
}

.marketplace-body {
  background: #f5f5f5;
}

.brands-list-marketplace {
  display: flex;
  margin-top: 60px;
}

.brands-marketplace {
  display: flex;
  flex-wrap: wrap;
}

.brands-login-marketplace {
  flex: 1;
}

.latest-product-marketplace {
  /*display: flex;
	flex-wrap: wrap;*/
  display: flex;
  padding: 10px 10px;
}

.latest-product-list-marketplace .product-list > .images {
  width: 300px;
}

.latest-product-list-marketplace .product-list > .images > img {
  width: 100%;
}

.product-marketplace-latest-list .subtitle > p {
  padding: 0px;
  margin: 0px;
}

.product-marketplace-latest-list .subtitle > h4 {
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
}

.product-marketplace-latest-list {
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.latest-product-list-marketplace {
  display: flex;
  flex: 1;
}

.brands-marketplace > div {
  flex-grow: 1;
  padding: 10px 10px;
}

.el-pager li.active {
  color: #5633c1 !important;
}
.el-pager li:hover {
  color: #5633c1 !important;
}
.el-pagination .btn-next .el-icon,
.el-pagination .btn-prev .el-icon:hover {
  color: #5633c1 !important;
}

.banner-bottom {
  background: url('../images/distributor/BANNER-BOTTOM-WIDE2.png');
  background-size: cover;
  height: 160px;
}

.banner-bottom-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 30px;
  margin-right: 30px;
}

.distributor-container-sale {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
}

.distributor-container-sale-1 {
  background: url('../images/distributor/46.png');
  background-size: cover;
  height: 248px;
  width: 100%;
}

.distributor-container-sale-2 {
  background: url('../images/distributor/45.png');
  background-size: cover;
  height: 248px;
  width: 100%;
}

.sales-banners-marketplace {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: 30px;
}

.sales-banners-marketplace > div:nth-child(1) {
  background: url('../images/distributor/820.png');
  background-size: cover;
  height: 195px;
}

.sales-banners-marketplace-div {
  background: url('../images/distributor/820.png');
  background-size: cover;
  height: 195px;
}

.sales-banners-marketplace-div-2 {
  background: url('../images/distributor/BANNER-SALE.png');
  background-size: cover;
  height: 195px;
}

.sales-banners-marketplace > div:nth-child(2) {
  background: url('../images/distributor/BANNER-SALE.png');
  background-size: cover;
  height: 195px;
  width: 820px;
  flex-grow: 1;
}

.recommendation {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  margin-left: 30px;
  margin-right: 30px;
}

.recommendation-list {
  background: url('../images/distributor/BRANDS-BANNER.jpg');
  background-size: cover;
  height: 196px;
  width: 410px;
  flex-grow: 1;
}

.recommendation-list > .content {
  padding: 10px 10px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .seller-text{
    flex-wrap: wrap;
    justify-content:center !important;
  }
  .prod-box{
    width: 150px;
    height: auto;
  }
  .flex-between > h1{
    text-align: center;
  }


  .parent-banner{
    margin-top: 65px;
  }

  .parent-banner > .banner-text > h1{
    font-size: 14px;
  }
  .splash-body {
    /*background: url('../images/home-mobile.png');
		background-size: cover;
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;*/
    background: none;
  }

  .banner-text{
    position: absolute;bottom: 30%;left: 5%;
  }

.button-common.shop {
    right: 0px !important;
}

.join-us > h1 {
  text-align: center !important;
}

.faqs-btn-div {
  text-align: center;
}
  
  .brand-icon {
    width: 100px !important;
    height: 100px !important;
    padding: 5px 5px !important;
  }

  .brands {
    margin-top: 30px !important;
}

  .brand-flex-buyer {
  
    min-height: 1000px !important;
}

  .benifit-container {
    text-align: center;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
  .pad-cont{
    margin-top: 0px !important;
  }

.banner-alt-en {
  width: 100%;
  min-height: 230px !important;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 65px;
}

.header-text {
  top: 35px !important;
  left: 3px !important;
  padding-right: 230px !important;
  font-size: 6px;
  
}

.logo-icon {
  margin: 0 auto;
  width: 100% !important;
  height: 50px !important;
  margin-top: 20px;
  margin-bottom: 5px !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner-alt-chs {
  min-height: 200px !important;
}

.swiper-pagination-custom img {
  height: 30px;
}

.hero-alt-banner {
  max-width: 100% !important;
}

.faq-header {
  position: relative !important;
  text-align: center !important;
  margin-bottom: 30px;
}
.seller-text{
  display: flex; 
  justify-content: space-between; 
}

.center-hero-container {
  margin-top: 30px !important;
  margin-bottom: -15px !important;
}


.hero-alt {
  background-image: none !important;
}

.button-common {
  margin-left: 30px !important;
}

}

.main-view .container {
  width: 100%;
  /*padding-right: 15px;
  padding-left: 15px;*/
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .main-view .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .main-view .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .main-view .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .main-view .container {
    max-width: 1140px;
  }
}

.button-common {
  width: auto;
  text-align: center;
  border: none !important;
  background: #5633c1;
  border-radius: 8px;
  color: #fff !important;
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
  padding: 7px;
  padding-left: 20px;
  font-size: 14px !important;
  padding-right: 20px;
}

.header-button {
  width: auto;
  border: none !important;
  background: transparent;
  color: #222 !important;
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
  padding: 7px;
  font-size: 14px !important;
}

.slider-container {
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 50%;
}

.slider-container h1 {
  font-size: 30px;
}

.hero-alt-banner {
  max-width: 64%;
  margin-left: auto;
}

.hero-alt-banner h1 {
  font-size: 30px;
}

.join-us > h1{
  text-align: left;
}

.swiper-pagination-bullet-active {
  background: #9894a3;
}

.hero-slider {
  margin: 0;
  width: 100%;
}

.hero-slider .swiper-slide {
  width: 100% !important;
}

.slider-image {
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
}

.hero-alt {
  background: url('../images/signup.png');
  background-size: 530px 300px !important;
  background-position-x: -65px !important;
  background-position-y: 240px !important;
  background-repeat: no-repeat;
  padding-top: 90px;
  padding-bottom: 90px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner-alt-en{
  background: url('../images/homepage-clear.jpg');
  width: 100%;
  min-height: 760px;
  background-size: cover;
  position: relative;
  margin-top: 0px;
  
}
.seller-text{
  display: flex; 
  justify-content: space-between; 
  gap: 12px;
}

.header-text {
  text-align: center;
  position: absolute;
  top: 42%;
  left: 2%;
}

.logo-icon {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  /*margin-top: 20px;*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner-alt-chs{
  background: url('../images/homepage-chs.jpg');
  width: 100%;
  min-height: 760px;
  background-size: cover;
}

.container .faq-header > span {
  border-bottom: 5px solid #5633C1;
}

.faq-header{
  position: absolute;
}

.icon-plus{
  float:left;
  margin-right: 50px;
  font-size: 16px;
  color: #5633c1;
}

.faq-desc{
  margin: 1em 0 1em 5em;
}

.pad-cont{
  margin-top: 50px;
}
.button-common{
  margin-right: 30px;
}

.center-hero-container {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.slider-container .button-common {
  margin-top: 30px;
}

.brand-flex{
 /* width: 150px;
  height: 150px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
  min-height:280px;
}
.brand-flex-buyer{
  /*width: 150px;
  height: 150px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
  min-height:840px;
}


@media (max-width: 992px) {
  .slider-container .button-common {
    margin-top: 10px;
  }

  .pad-cont {
    padding: 15px !important;
  }

  .slider-image {
    background-size: 45%;
  }

  .hero-alt {
    padding-top: 0px;
    padding-bottom: 0px;
    background-size: 65%;
    background-position-x: -63%;
  }

  .hero-alt-banner {
    max-width: 60%;
  }

  .slider-container {
    max-width: 55%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
}

.m-t-20 {
  margin-top: 20px !important;
}
.m-b-n {
  margin-bottom: 0px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.rdn .swiper-pagination-bullet-active {
  background: #fff;
}

.gray-bg {
  background-color: #f5f5f5;
}

.button-common.shop {
  background: #323232;
  position: absolute;
  right: 20px;
  /*bottom: 26px;
  bottom: -30px;*/
  display: block;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.swiper-pagination-custom img {
  width: 50px;
}

.n-b-r {
  border-radius: 0px !important;
}

@media (min-width: 992px) {
  .banner-alt-en{
      background-position-y: -90px;
      min-height: 850px;
  }
}

.parent-banner{
  width:100%;position:relative;
}

.parent-banner > img{
  width: 100%;
}

.parent-banner > .banner-text{
  position: absolute;
  height: 100%;
  width: 38%;
  top: 0px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
