<template>
  <f7-page class="">
    <h1>About Page</h1>
    <HeaderComponent />
  </f7-page>
</template>

<script>
import { defineComponent } from "vue";

import HeaderComponent from "@/components/HeaderComponent.vue";

export default defineComponent({
  name: "AboutPage",
  components: {
    HeaderComponent,
  },
  setup() {
    return {};
  },
});
</script>

<style></style>
