<template>
  <f7-page class="">
    <HeaderComponent></HeaderComponent>

   <f7-row>

        
      <!-- <div class="banner-alt-en" v-if="currentLanguage == 'EN' ">
        
          <div class="header-text">
            <div class="logo-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/JJX_Logo_EN.png') + ')' }"></div>
              <h1>"Where AUS Business Meet China Buyers"</h1>
          </div>
      
      </div> -->

  

      <div class="parent-banner">
        <img :src="require('@/assets/images/homepage-clear.jpg')">
         <div class="banner-text">
            <div class="logo-icon" :style="{ 'margin-top' : '0px', 'background-image': 'url(' + require('@/assets/images/JJX_Logo_EN.png') + ')' }"></div>
              <h1>"Where AUS Business Meet China Buyers"</h1>
          </div>

      </div>


     <!--  <div class="banner-alt-chs" v-if="currentLanguage == 'CHS'"></div> -->
       

      <!-- <f7-swiper class="hero-slider" pagination>
        <f7-swiper-slide class="slider-image" v-if="currentLanguage == 'EN' " :style="{ 'background-image': 'url(' + require('@/assets/images/homepage-en.jpg') + ')' }">
          <f7-col width="100" class="main-view">
            <div class="container">
              <div class="slider-container pad-cont">
                <h1>Lorem Ipsum</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.
                </p>
                <a href="#" class="button-common">Be a Supplier</a>
              </div>
            </div>
          </f7-col>
        </f7-swiper-slide>
        <f7-swiper-slide class="slider-image" v-if="currentLanguage == 'CHS' " :style="{ 'background-image': 'url(' + require('@/assets/images/homepage-chs.jpg') + ')' }">
          <f7-col width="100" class="main-view">
            <div class="container">
              <div class="slider-container pad-cont">
                <h1>Lorem Ipsum</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.
                </p>
                <a href="#" class="button-common">Be a Supplier</a>
              </div>
            </div>
          </f7-col>
        </f7-swiper-slide>
      </f7-swiper> -->
    </f7-row>


    <f7-row>
      <f7-col width="100" class="main-view">
        <div class="container">
          <div class="pad-cont center-hero-container">
            <h1>Reach Your Buyers Anywhere, with JuJiaXuan.</h1>
            <p>
              We are passionate about bringing the best brands to market through online and offline channels - utilising our proven capabilities to offer a transparent, collaborative and integrated end-to-end solution, backed by a team of highly experience individuals, clear corporate governance and strong distribution network.
            </p>
          </div>
        </div>
      </f7-col>
    </f7-row>


    <div class="main-view">
      <div class="container brands">
        <f7-row>
          <f7-col width="100">
            <h1>Brands</h1>
          </f7-col>
          
          <f7-col width="100" class="brand-flex">
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/brands/01.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/brands/02.png') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/brands/03.png') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/brands/04.png') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/brands/05.png') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/brands/06.png') + ')' }"></div>
          </f7-col>

          <!-- <f7-col width="100" class="flex pad-cont">
            <div class="promo-banner" :style="{ 'background-image': 'url(' + require('@/assets/images/promos/1.jpg') + ')' }"></div>
            <div class="promo-banner" :style="{ 'background-image': 'url(' + require('@/assets/images/promos/2.jpg') + ')' }"></div>
            <div class="promo-banner hidden-sm-and-down" :style="{ 'background-image': 'url(' + require('@/assets/images/promos/1.jpg') + ')' }"></div>
          </f7-col> -->
        </f7-row>
      </div>
    </div>

     <div class="main-view gray-bg hidden-sm-and-down">
      <div class="container benifit-container">
        <f7-row class="title">
          <f7-col width="100">
            <h1 class="text-center">Benefits of Joining JuJiaXuan</h1>
          </f7-col>
        </f7-row>
        <div class="hidden-sm-and-down">
          <f7-row>
            <f7-col>
              <div class="benifit">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/shop2.png') + ')' }"></div>
                <p>Access to thousand of offline retailers and independent resellers.</p>
              </div>
            </f7-col>
            <f7-col>
              <div class="benifit">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/globe.png') + ')' }"></div>
                <p>Access to online distributors that can give exposure of your brand on major marketplace platforms (i.e. Tmall, JD, etc.)</p>
              </div>
            </f7-col>
            <f7-col>
              <div class="benifit">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/file-earmark-text.png') + ')' }"></div>
                <p>Hassle free - no need to worry about managing thousands of differnt partners, corporate structures, payment terms - RDN will managet it all.</p>
              </div>
            </f7-col>
          </f7-row>
          <f7-row>
            <f7-col>
              <div class="benifit">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/handshake.svg') + ')' }"></div>
                <p>Legitimacy and Trust We only work with distributors that have been vetted.</p>
              </div>
            </f7-col>
            <f7-col>
              <div class="benifit">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/eye.png') + ')' }"></div>

                <p>Full visibility of where orders are being places, sourcing requests, delivery statuses and invoicing.</p>
              </div>
            </f7-col>
            <f7-col>
              <div class="benifit">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/settings.svg') + ')' }"></div>

                <p>Additional services available - Brand Management, Price Monitoring, Channel Management, Content Creation and more.</p>
              </div>
            </f7-col>
          </f7-row>
        </div>
      </div>
    </div>

   <div class="main-view gray-bg hidden-md-and-up">
      <div class="container benifit-container">
        <f7-row class="title">
          <f7-col width="100">
            <h1 class="text-center pad-cont">Benefits of Joining JuJiaXuan</h1>
          </f7-col>
        </f7-row>

        <f7-swiper :slidesPerView="2" pagination>
          <f7-swiper-slide>
            <f7-col>
              <div class="benifit pad-cont">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/shop2.png') + ')' }"></div>
                <p>Access to thousand of offline retailers and independent resellers</p>
              </div>
            </f7-col>
          </f7-swiper-slide>
          <f7-swiper-slide>
            <f7-col>
              <div class="benifit pad-cont">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/globe.png') + ')' }"></div>
                <p>Access to online distributors that can give exposure of your brand on major marketplace platforms (i.e. Tmall, JD, etc.)</p>
              </div>
            </f7-col>
          </f7-swiper-slide>
          <f7-swiper-slide>
            <f7-col>
              <div class="benifit pad-cont">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/file-earmark-text.png') + ')' }"></div>
                <p>Hassle free - no need to worry about managing thousands of differnt partners, corporate structures, payment terms - RDN will managet it all.</p>
              </div>
            </f7-col>
          </f7-swiper-slide>
          <f7-swiper-slide>
            <f7-col>
              <div class="benifit pad-cont">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/handshake.svg') + ')' }"></div>
                <p>Legitimacy and Trust We only work with distributors that have been vetted.</p>
              </div>
            </f7-col>
          </f7-swiper-slide>
          <f7-swiper-slide>
            <f7-col>
              <div class="benifit pad-cont">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/eye.png') + ')' }"></div>

                <p>Full visibility of where orders are being places, sourcing requests, delivery statuses and invoicing.</p>
              </div>
            </f7-col>
          </f7-swiper-slide>
          <f7-swiper-slide>
            <f7-col>
              <div class="benifit pad-cont">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/settings.svg') + ')' }"></div>

                <p>Additional services available - Brand Management, Price Monitoring, Channel Management, Content Creation and more.</p>
              </div>
            </f7-col>
          </f7-swiper-slide>
        </f7-swiper>
      </div>
    </div>
    <div class="main-view">
      <div class="container brands">
        <f7-row>
          <f7-col width="100">
            <h1>Our Buyers</h1>
          </f7-col>

          <f7-col width="100" class=" flex brand-flex-buyer">
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/brands/07.png') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/brands/08.png') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/brands/09.png') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/brands/10.png') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/brands/11.png') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/brands/12.png') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/01.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/02.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/03.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/04.jpg') + ')' }"></div>  
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/05.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/06.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/07.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/08.jpg') + ')' }"></div>  
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/09.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/10.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/11.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/12.jpg') + ')' }"></div>  
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/13.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/14.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/15.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/16.jpg') + ')' }"></div>  
          
          </f7-col>

          
        </f7-row>
      </div>
    </div>

    <div class="main-view rdn" :style="{ 'background-image': 'url(' + require('@/assets/images/banner.svg') + ')' }">
      <div class="container">
        <f7-row>
          <f7-col width="100">
            <h1>JuJiaXuan gives you access to:</h1>
          </f7-col>
        </f7-row>
        <f7-row>
          
          <f7-col width="100" class="hidden-md-and-up">
            <div class="child-content">
              <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/geo-alt.png') + ')' }"></div>
              <h2>16 Provinces and Regions</h2>
              <p></p>
            </div>
          </f7-col>
          <f7-col class="hidden-sm-and-down">
            <div class="child-content">
              <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/geo-alt.png') + ')' }"></div>
              <h2>16 Provinces and Regions</h2>
              <p></p>
            </div>
          </f7-col>
           <f7-col width="100" class="hidden-md-and-up">
            <div class="child-content">
              <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/shop.png') + ')' }"></div>
              <h2>2000+ Retail Stores</h2>
              <p></p>
            </div>
          </f7-col>
          <f7-col class="hidden-sm-and-down">
            <div class="child-content">
              <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/shop.png') + ')' }"></div>
              <h2>2000+ Retail Stores</h2>
              <p></p>
            </div>
          </f7-col>

          <f7-col width="100" class="hidden-md-and-up">
            <div class="child-content">
              <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/house.png') + ')' }"></div>
              <h2>330 Million HouseHolds</h2>
              <p></p>
            </div>
          </f7-col>
          
          <f7-col class="hidden-sm-and-down">
            <div class="child-content">
              <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/house.png') + ')' }"></div>
              <h2>330 Million HouseHolds</h2>
              <p></p>
            </div>
          </f7-col>
          
        </f7-row>
      </div>
    </div>

    <!-- <div class="rdn hidden-md-and-up" :style="{ padding: '0px', 'background-image': 'url(' + require('@/assets/images/banner.svg') + ')' }">
      <f7-row>
        <f7-col width="100">
          <h1 class="m-t-20 m-b-n">JuJiaXuan gives you access to:</h1>
        </f7-col>
        <f7-col>
          <f7-swiper pagination>
            <f7-swiper-slide>
              <f7-col width="100" class="main-view">
                <div class="container">
                  <div class="pad-cont mob-rdn">
                    <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/geo-alt.png') + ')' }"></div>
                    <div>
                      <h2>16 Provinces and Regions</h2>
                      <p></p>
                    </div>
                  </div>
                </div>
              </f7-col>
            </f7-swiper-slide>

            <f7-swiper-slide>
              <f7-col width="100" class="main-view">
                <div class="container">
                  <div class="pad-cont mob-rdn">
                    <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/shop.png') + ')' }"></div>
                    <div>
                      <h2>2000+ Retail Stores</h2>
                      <p></p>
                    </div>
                  </div>
                </div>
              </f7-col>
            </f7-swiper-slide>

            <f7-swiper-slide>
              <f7-col width="100" class="main-view">
                <div class="container">
                  <div class="pad-cont mob-rdn">
                    <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/house.png') + ')' }"></div>
                    <div>
                      <h2>330 Million HouseHolds</h2>
                      <p></p>
                    </div>
                  </div>
                </div>
              </f7-col>
            </f7-swiper-slide>
          </f7-swiper>
        </f7-col>
      </f7-row>
    </div> -->

    <!-- <div class="main-view">
      <div class="container brands">
        <f7-row>
          <f7-col width="100">
            <h1>Buyers</h1>
          </f7-col>

          <f7-col width="100" class="flex pad-cont">
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/01.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/02.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/03.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/04.jpg') + ')' }"></div>  
          </f7-col>

          <f7-col width="100" class="flex pad-cont">
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/05.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/06.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/07.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/08.jpg') + ')' }"></div>  
          </f7-col>

          <f7-col width="100" class="flex pad-cont">
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/09.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/10.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/11.png') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/12.jpg') + ')' }"></div>  
          </f7-col>

          <f7-col width="100" class="flex pad-cont">
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/13.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/14.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/15.jpg') + ')' }"></div>
            <div class="brand-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/Buyer-Logo/16.jpg') + ')' }"></div>  
          </f7-col>
          
        </f7-row>
      </div>
    </div> -->

    <!-- <div class="main-view gray-bg hidden-md-and-up">
      <div class="container benifit-container">
        <f7-row class="title">
          <f7-col width="100">
            <h1 class="text-center pad-cont">Benifits of joining RDN - for Brands</h1>
          </f7-col>
        </f7-row>

        <f7-swiper :slidesPerView="2" pagination>
          <f7-swiper-slide>
            <f7-col>
              <div class="benifit pad-cont">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/shop2.png') + ')' }"></div>
                <p>Access to thousand of offline retailers and independent resellers.</p>
              </div>
            </f7-col>
          </f7-swiper-slide>
          <f7-swiper-slide>
            <f7-col>
              <div class="benifit pad-cont">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/globe.png') + ')' }"></div>
                <p>Access to online distributors that can give exposure of your brand on major marketplace platforms (i.e. Tmall, JD, etc.)</p>
              </div>
            </f7-col>
          </f7-swiper-slide>
          <f7-swiper-slide>
            <f7-col>
              <div class="benifit pad-cont">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/file-earmark-text.png') + ')' }"></div>
                <p>Hassle free - no need to worry about managing thousands of differnt partners, corporate structures, payment terms - RDN will managet it all.</p>
              </div>
            </f7-col>
          </f7-swiper-slide>
          <f7-swiper-slide>
            <f7-col>
              <div class="benifit pad-cont">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/handshake.png') + ')' }"></div>
                <p>Legitimacy and Trust We only work with distributors that have been vetted.</p>
              </div>
            </f7-col>
          </f7-swiper-slide>
          <f7-swiper-slide>
            <f7-col>
              <div class="benifit pad-cont">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/eye.png') + ')' }"></div>

                <p>Full visibility of where orders are being places, sourcing requests, delivery statuses and invoicing.</p>
              </div>
            </f7-col>
          </f7-swiper-slide>
          <f7-swiper-slide>
            <f7-col>
              <div class="benifit pad-cont">
                <div class="rdn-icon" :style="{ 'background-image': 'url(' + require('@/assets/images/icons/settings.png') + ')' }"></div>

                <p>Additional services available - Brand Management, Price Monitoring, Channel Management, Content Creation and more.</p>
              </div>
            </f7-col>
          </f7-swiper-slide>
        </f7-swiper>
      </div>
    </div> -->

    <div class="main-view section">
      <div class="container">
        <div class="flex-between">
          <h1 class="pad-cont m-b-20">Best Selling Products</h1>
          <!-- <div>
            <a href="javascript:;" class="swiper-pagination-custom"><img src="@/assets/images/icons/left-arrow.png" /></a>
            <a href="javascript:;" style="opacity: 0.5" class="swiper-pagination-custom"><img src="@/assets/images/icons/arrow-down-s-line.png" /></a>
          </div> -->
        </div>

        <f7-row class="pad-cont">
          <div class="seller-text">
            <div class="prod-box" @click="gotoList()">
              <img class="best-seller-image" src="@/assets/images/best-seller/01-aimoli.jpg" />
              <!-- <a href="#" class="button-common shop"  @click="gotoList()">SHOP NOW</a> -->
            </div>
            <div class="prod-box"  @click="gotoList()">
              <img class="best-seller-image" src="@/assets/images/best-seller/02-peach.jpg" />
             <!--  <a href="#" class="button-common shop"  @click="gotoList()">SHOP NOW</a> -->
            </div>
            <div class="prod-box"  @click="gotoList()">
              <img class="best-seller-image" src="@/assets/images/best-seller/03-passionfruit.jpg" />
             <!--  <a href="#" class="button-common shop"  @click="gotoList()">SHOP NOW</a> -->
            </div>
            <div class="prod-box"  @click="gotoList()">
              <img class="best-seller-image" src="@/assets/images/best-seller/04-milk-skim.jpg" />
             <!--  <a href="#" class="button-common shop"  @click="gotoList()">SHOP NOW</a> -->
            </div>
            <div class="prod-box"  @click="gotoList()">
              <img class="best-seller-image" src="@/assets/images/best-seller/05-milk-whole.jpg" />
              <!-- <a href="#" class="button-common shop"  @click="gotoList()">SHOP NOW</a> -->
            </div>
          </div>
        </f7-row>
      </div>
    </div>

   <!--  <div class="main-view section gray-bg">
      <div class="container">
        <div class="flex-between">
          <h1 class="pad-cont m-b-20">Deals of the Day</h1>
          <div>
            <a href="javascript:;" class="swiper-pagination-custom"><img src="@/assets/images/icons/left-arrow.png" /></a>
            <a href="javascript:;" class="swiper-pagination-custom" style="opacity: 0.5"><img src="@/assets/images/icons/arrow-down-s-line.png" /></a>
          </div>
        </div>

        <f7-row class="pad-cont">
          <div style="display: flex; justify-content: space-between; gap: 12px">
            <div class="prod-box-cont">
              <img class="best-seller-image" src="@/assets/images/products/1.png" />
              <div class="deal-content-sale">
                <h4>SALE</h4>
              </div>
              <div class="deal-content-name">
                <p style="font-weight: bold">Product Name</p>
              </div>
              <div class="deal-content-name">
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="prod-box-cont">
              <img class="best-seller-image" src="@/assets/images/products/2.png" />
              <div class="deal-content-sale">
                <h4>SALE</h4>
              </div>
              <div class="deal-content-name">
                <p style="font-weight: bold">Product Name</p>
              </div>
              <div class="deal-content-name">
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="prod-box-cont hidden-sm-and-down">
              <img class="best-seller-image" src="@/assets/images/products/3.png" />
              <div class="deal-content-sale">
                <h4>SALE</h4>
              </div>
              <div class="deal-content-name">
                <p style="font-weight: bold">Product Name</p>
              </div>
              <div class="deal-content-name">
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="prod-box-cont hidden-sm-and-down">
              <img class="best-seller-image" src="@/assets/images/products/4.png" />
              <div class="deal-content-sale">
                <h4>SALE</h4>
              </div>
              <div class="deal-content-name">
                <p style="font-weight: bold">Product Name</p>
              </div>
              <div class="deal-content-name">
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
          </div>
        </f7-row>
      </div>
    </div> -->

    <!-- <div class="main-view section">
      <div class="container">
        <div class="deals hidden-sm-and-down">
          <div class="deals-half">
            <div class="first-box" :style="{ 'background-image': 'url(' + require('@/assets/images/bottom-1.jpg') + ')' }"></div>
            <div class="second-box" :style="{ 'background-image': 'url(' + require('@/assets/images/vertical-deal.jpg') + ')' }"></div>
          </div>
          <div class="deals-hori">
            <img src="@/assets/images/supplier.jpg" />
            <img src="@/assets/images/bottom-2.jpg" />
          </div>
        </div>

        <div class="pad-cont hidden-md-and-up">
          <div class="deals" style="gap: 20px">
            <img src="@/assets/images/bottom-1.jpg" style="width: 70%" />
            <div class="second-box" :style="{ 'background-image': 'url(' + require('@/assets/images/vertical-deal.jpg') + ')' }"></div>
          </div>

          <img style="width: 100%; margin-top: 20px" src="@/assets/images/bottom-2.jpg" />
        </div>
      </div>
    </div> -->

    <!-- <div class="main-view section gray-bg">
      <div class="container">
        <div class="flex-between">
          <h1 class="pad-cont m-b-20">Top Selling Products for Distributos</h1>
        </div>

        <f7-row class="pad-cont">
          <div style="display: flex; justify-content: space-between; gap: 12px">
            <div class="prod-box-cont n-b-r">
              <img class="best-seller-image" src="@/assets/images/products/small-1.png" />

              <div class="deal-content-name">
                <p style="font-weight: bold">Product Name</p>
              </div>
              <el-rate v-model="rate" disabled text-color="#ff9900"></el-rate>
            </div>

            <div class="prod-box-cont n-b-r">
              <img class="best-seller-image" src="@/assets/images/products/small-1.png" />

              <div class="deal-content-name">
                <p style="font-weight: bold">Product Name</p>
              </div>
              <el-rate v-model="rate" disabled text-color="#ff9900"></el-rate>
            </div>

            <div class="prod-box-cont n-b-r hidden-sm-and-down">
              <img class="best-seller-image" src="@/assets/images/products/small-1.png" />

              <div class="deal-content-name">
                <p style="font-weight: bold">Product Name</p>
              </div>
              <el-rate v-model="rate" disabled text-color="#ff9900"></el-rate>
            </div>

            <div class="prod-box-cont n-b-r hidden-sm-and-down">
              <img class="best-seller-image" src="@/assets/images/products/small-1.png" />

              <div class="deal-content-name">
                <p style="font-weight: bold">Product Name</p>
              </div>
              <el-rate v-model="rate" disabled text-color="#ff9900"></el-rate>
            </div>

            <div class="prod-box-cont n-b-r hidden-sm-and-down">
              <img class="best-seller-image" src="@/assets/images/products/small-1.png" />

              <div class="deal-content-name">
                <p style="font-weight: bold">Product Name</p>
              </div>
              <el-rate v-model="rate" disabled text-color="#ff9900"></el-rate>
            </div>

            <div class="prod-box-cont n-b-r hidden-sm-and-down">
              <img class="best-seller-image" src="@/assets/images/products/small-1.png" />

              <div class="deal-content-name">
                <p style="font-weight: bold">Product Name</p>
              </div>
              <el-rate v-model="rate" disabled text-color="#ff9900"></el-rate>
            </div>
          </div>
        </f7-row>
      </div>
    </div> -->

    <!-- <div class="container testimonials hidden-sm-and-down">
      <div class="dots-top"></div>
      <div class="dots-below"></div>
      <h1 style="text-align: center; padding-bottom: 50px">Testimonials</h1>
      <f7-swiper pagination style="overflow: visible">
        <f7-swiper-slide>
          <div style="position: relative">
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <div class="name">
                <p>Jane Doe</p>
                <p>Distributor</p>
              </div>

              <img src="@/assets/images/icons/right-quotation-sign-01.png" />
            </div>
          </div>
        </f7-swiper-slide>
        <f7-swiper-slide>
          <div style="position: relative">
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <div class="name">
                <p>Jane Doe</p>
                <p>Distributor</p>
              </div>
            </div>
          </div>
        </f7-swiper-slide>
        <f7-swiper-slide>
          <div style="position: relative">
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <div class="name">
                <p>Jane Doe</p>
                <p>Distributor</p>
              </div>
            </div>
          </div>
        </f7-swiper-slide>
      </f7-swiper>
    </div> -->

    <div class="hero-alt">
      <f7-col width="100" class="main-view">
        <div class="container faqs-container">
        <h1 class="faq-header"><span>FAQ</span>s</h1>
          <div class="hero-alt-banner pad-cont">
            <div class="faqs" v-for="faq in faqs" :key="'key_' + faq.id ">
              <div class="content"  @click="showTab(faq)">
                <div>
                  <div class="icon-plus">
                    <font-awesome-icon :icon="['far', 'minus']" v-if="faq.isClick" fixed-width/>
                    <font-awesome-icon :icon="['far', 'plus']"  v-else fixed-width/>
                  </div>
                  <div><h4>{{ faq.title }}</h4></div>  
                </div>
                <p class="faq-desc" v-if="faq.isClick">{{ faq.description }}</p>
              </div>
            </div>
          </div>
          
          <div class="hero-alt-banner join-us pad-cont">
            <h1>Join us today</h1>
            <!-- <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p> -->
            <div class="faqs-btn-div">
              <a href="#" class="button-common">Supplier</a>
              <a href="#" class="button-common">Buyer</a>
            </div>
            
          </div>
        </div>
      </f7-col>
    </div>
   

    <NewsLetterComponent></NewsLetterComponent>
    <FooterComponent></FooterComponent>
  </f7-page>
</template>

<script>
import { defineComponent, ref, computed } from "vue";
import NewsLetterComponent from "@/components/NewsLetterComponent.vue";
import FooterComponent from "@/components/FooterComponent.vue";
import HeaderComponent from "@/components/HeaderComponent.vue";
import { useStore } from "@/store";
export default defineComponent({
  name: "HomePage",
  components: {
    HeaderComponent,
    FooterComponent,
    NewsLetterComponent,
  },
  props: {f7router: Object},
  setup(props) {
    const store = useStore();
    const rate = ref(5);
    const currentLanguage = computed(() => store.getters["translation/getLanguage"]);
    const faqs = ref([
    {"title": `What are the fees?`, isClick: false, description: ` There is no set-up fee. You can connect with 2000+ retail stores immeditaely after account registration.`, id: 1},
    {"title": `How does it works?`, isClick: false, description: ` Supplier Register an account, start uploading your products in our backend with selling price, your products will be listed on our platform after review. Distributor Register an account, browsing our product catalog and choose the products and services that you need. We will handle the rest after your order has been placed.`, id: 2},
    {"title": `Hesitation on onshore and offshore funds issue?`, isClick: false, description: ` No worries, we handle both onshore and offshore funds for our suppliers and distributors.`, id: 3},
    {"title": `Who will handle the logistics?`, isClick: false, description: ` We provide logistics solutions both for cross border and general trade. Just click the button and let our team know when you check out.`, id: 4}
    ]);


    const showTab = (item) => {
      if (item.isClick) {
        item.isClick = false;
      }else{
        item.isClick = true;
      }
    }

    const gotoList = () => {
      props.f7router.navigate({ name: "productlist", params: {  } });
    }

    return {
      rate,
      faqs,
      showTab,
      currentLanguage,
      gotoList
    };
  },
});
</script>

<style>
.faqs-btn-div{
  margin-top: 10px;
}
.faqs{
  position: relative;
  border-bottom: 1px solid #eaeaea;
}

.faqs:nth-child(1){
  border-top: 1px solid #eaeaea;
}

.hero-alt{
  background-size: 673px 420px;
  background-position-x: -150px;
  background-position-y: 130px
}

.faq-description{
  display: none;
}
.second-box {
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.first-box {
  width: 64%;
  background-size: cover;
}

.deals-half {
  width: 50%;
  display: flex;
  gap: 10px;
}
.deals-hori {
  width: 50%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.deals-hori > img {
  width: 100%;
}

.deals > img {
  height: 100%;
}

.deals {
  display: flex;
  gap: 10px;
}

.prod-box-cont {
  position: relative;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}

.prod-box-cont p {
  margin: 0px;
}

.prod-box {
  position: relative;
}

.best-seller-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.promo-banner {
  width: 32.5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 25%;
  border-radius: 10px;
  margin-bottom: 50px;
}

.mob-rdn {
  display: flex;
  text-align: left;
  padding-bottom: 40px;
}

.mob-rdn .rdn-icon {
  margin-right: 10px;
  width: 200px;
}

.rdn {
  background-color: #5633c1;
  text-align: center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.rdn-icon {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}



.brand-icon {
  width: 150px;
  height: 120px;
  padding: 10px 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.rdn h1 {
  margin-bottom: 20px;
}

.rdn h2,
.rdn p {
  color: #fff;
}

.rdn p {
  margin-top: 0px;
}

.rdn h2 {
  margin-bottom: 3px;
}

.flex {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 992px) {
  .promo-banner {
    width: 48%;
    padding-top: 36%;
  }

  .deals-half {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .brand-icon {
    padding: 5px 5px;
  }
  .banner-alt-en{
    margin-top: 70px;
    background-position-x: -30px;
  }
  .parent-banner{
    margin-top: 65px;
  }

  .parent-banner > .banner-text > h1{
    font-size: 14px;
  }

  .seller-text{
    flex-wrap: wrap;
    justify-content:center;
  }
  .prod-box{
    width: 150px;
    height: auto;
  }
  .flex-between > h1{
    text-align: center;
  }

}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 
      .banner-alt-en{
        margin-top: 70px;
      }
}

@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {
    .banner-alt-en{
       margin-top: 70px;
     }
}

.benifit-container {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
</style>
