<template>
  <f7-page class="">
    <h1>Page not found</h1>
    <a href="/home/">Home Page</a>
  </f7-page>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "NotFoundPage",
  components: {},
  setup() {
    return {};
  },
});
</script>

<style></style>
