<template>
  <footer>
     <div class="container" id="desktop-footer">
      <div class="footer-navs">
        <ul>
          <li class="title">{{ $t.getTranslation("LBL_SUPPORT") }}</li>
          <li><a href="/contact/">{{ $t.getTranslation("LBL_CONTACT_US") }}</a></li>
          <li><a href="/agreement/">{{ $t.getTranslation("LBL_TERMS_AND_CONDITION") }}</a></li>
        </ul>
     
       <!--  <p class="text-center pad-cont footer-text hidden-sm-and-down" style>Copyright © 2021 All Right Reserved.</p> -->
      </div>
      <div class="">
					<img src="@/assets/images/logo.png" class="logo-footer">
			</div>
      <div class="hidden-md-and-up">
         <p class="text-center pad-cont footer-text" style>Copyright © 2021 All Right Reserved.</p> 
      </div>
      <div class="footer-icons">
        <!-- <a href="#">
          <img src="@/assets/images/icons/facebook.png" />
        </a>
        <a href="#">
          <img src="@/assets/images/icons/instagram.png" />
        </a>
        <a href="#">
          <img src="@/assets/images/icons/linkedin.png" />
        </a> -->
        <p class="text-center hidden-sm-and-down">Copyright © 2021 All Right Reserved.</p>
      </div>
    </div>

    
   
  </footer>
</template>

<script>
export default {
  name: "FooterComponent",
  components: {},
  data() {
    return {};
  },
};
</script>

<style>


footer .container {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
footer .container .footer-navs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 50%;
}
footer .container .footer-navs ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
footer .container .footer-navs ul li {
  padding: 3px 0px;
}
footer .container .footer-navs ul li.title {
  padding: 0px;
  margin: 0px 0px 15px;
  font-size: 16px;
  font-weight: bold;
}
footer .container .footer-navs ul li a {
  color: #000;
}
footer .container .footer-icons {
  width: auto;
  margin-top: 40px;
}
footer .container .footer-icons a {
  margin-left: 20px;
}
footer .container .footer-icons a:first-child {
  margin-left: 0px;
}
footer .container .footer-icons img {
  width: 20px;
}

p.footer-text {
  margin-bottom: 0px;
  margin-top: 70px;
}
.logo-footer{
  margin-bottom: -30px;
}

@media only screen and (max-width: 1100px) {
  footer .container {
    width: calc(100% - 80px) !important;
    margin: 0 auto;
    position: relative;
    padding: 50px 40px;
  }
}
@media only screen and (max-width: 600px) {
  footer .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 180px;

    
  }
  footer .container .footer-navs {
    width: 100%;
  }

  p.footer-text {
  margin-left: 10px;
}

}

</style>
