<template>
 	
 	<div class="parent main-view parent-floating">
	 	<div class="container">
		 	<f7-row class="align-center">
			 	<div class="logo hidden-sm-and-down">
					<a href="/home/">
						<img src="@/assets/images/logo.png">
					</a>
				</div>

				<div class="logo-mob hidden-md-and-up">
					<a href="/home/">
						<img src="@/assets/images/logo-mob.png">
					</a>
				</div>
				<div class="navigation-links remove-links">
		      		<ul>
		      			<li @click="productRedirect()"><a class="header-button">{{ $t.getTranslation("LBL_PRODUCTS") }}</a></li>
		      			<li><a href="/contact/" class="header-button">{{ $t.getTranslation("LBL_CONTACT_US") }}</a></li>
		      			<!-- <li @click="jjxredirect()" class="hidden-md-and-up"><a class="header-button">{{ $t.getTranslation("LBL_BE_OUR_SUPPLIER") }}</a></li>
		      			<li @click="jjxredirect()" class="hidden-md-and-up"><a class="header-button">{{ $t.getTranslation("LBL_BE_OUR_BUYER") }}</a></li> -->
		      			<!-- <li class="hidden-sm-and-down"><a href="#" class="header-button">Services</a></li>
		      			<li class="hidden-sm-and-down"><a href="#" class="header-button">Help</a></li>
		      			<li><a href="#" class="header-button">Language</a></li> -->
		      			<!-- <li>
		      				<a href="">
			      				<select class="lang-selector" v-model="select_language"  @change="changeLanguage()">
			      					<option value="EN" selected="selected">Language EN</option>
			      					<option value="CHS">Language CHS</option>
			      					<option value="CHT">Language CHT</option>
			      				</select>
		      				</a>
		      			</li> -->
		      		</ul>
		      	</div>
			    <div class="navigation-links align-right-links">
		      		<ul>
		      			<li><a href="javascript:;" class="button-common" @click="signIn()">{{ $t.getTranslation("LBL_LOGIN") }}</a></li>
		      			<li class="hidden-sm-and-down"><a href="javascript:;" class="header-button" @click="jjxredirect()">{{ $t.getTranslation("LBL_BE_OUR_SUPPLIER") }}</a></li>
		      			<li class="hidden-sm-and-down"><a href="javascript:;" class="header-button" @click="jjxredirect()">{{ $t.getTranslation("LBL_BE_OUR_BUYER") }}</a></li>
		      			<li class="hidden-md-and-up">
			      			<a href="javascript:;" class="header-button menu-nav" @click="showMenu()">
			      				<img src="@/assets/images/svg/list.svg" v-if="!isShow">
			      				<img src="@/assets/images/svg/x-lg.svg" v-else>
			      			</a>
			      		</li>
		      		</ul>
		      	</div>
		    </f7-row>
	 	</div>
	 	<div class="floating-menu" v-if="isShow">
	 		<ul>
	 			<li @click="productRedirect()"><a>{{ $t.getTranslation("LBL_PRODUCTS") }}</a></li>
	 			<li><a href="/contact/">{{ $t.getTranslation("LBL_CONTACT_US") }}</a></li>
	 			<li @click="jjxredirect();"><a>{{ $t.getTranslation("LBL_BE_OUR_SUPPLIER") }}</a></li>
	 			<li @click="jjxredirect();"><a>{{ $t.getTranslation("LBL_BE_OUR_BUYER") }}</a></li>
	 		</ul>
	 	</div>
 	</div>



     

</template>

<script>
import { defineComponent, ref, onMounted, computed } from "vue";
import { useStore } from "@/store";
export default {
  name: "HeaderComponent",
  components: {},
  props: {f7router: Object},
  setup(props){
  	const store = useStore();
  	const signInLink = 'https://www.gojjx.com/login';
    const signUpLink = 'https://www.gojjx.com/register';
  	const currentLanguageCode = computed(() => store.getters["translation/getLanguage"]);
    const languageList = computed(() => store.getters["config/getData"]?.languageList);
    let select_language = ref(null);
    const isShow = ref(false);
  	const changeLanguage = (languageCode) => {
      store.dispatch("translation/setLanguage", { languageCode });
      store.dispatch("translation/fetchData", { force: true });
      //window.location.reload();
    };

    const signIn = function(){
      window.open(signInLink, '_blank');
    }

    const jjxredirect = () => {
    	window.open('https://www.gojjx.com/register', '_blank');
    }

    const productRedirect = () => {
    	window.open('https://www.gojjx.com/productlist');
    }

    const showMenu = () => {
    	if (isShow.value) {
    		isShow.value = false;
    	}else{
    		isShow.value = true;
    	}
    }

    const home = () => {
    	props.f7router.navigate({ name: "home", params: {  } });
    }

    return {
    	currentLanguageCode,
    	changeLanguage,
    	languageList,
    	select_language,
    	signIn,
    	jjxredirect,
    	showMenu,
    	isShow,
    	home,
    	productRedirect
    }
  }
  
};
</script>

<style>
	.logo > a >img{
		width: 180px;
	}
	.logo-mob > a >img{
		width: 60px;
	}
	.menu-nav > img{
		width: 20px;
	}
	.parent-floating{
		position: relative;
	}
	.floating-menu{
		background: #5633c1;position: fixed;width: 100%;height: 100vh;top:0px;z-index: 999;top:65px;
	}
	.floating-menu > ul{
		list-style: none;
	    padding: 10px;
	    color: #fff;
	}
	.floating-menu > ul > li > a {
		color: #fff;
		font-size: 20px;
    	font-weight: bold;
	}

	.floating-menu > ul > li {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.lang-selector{
		margin-top: 8px;
	    font-size: 14px;
	    color: #000;
	    font-weight: bold;
	}
	.align-center{
		padding-left:15px;
		padding-right:15px;
		align-items: center;
	}
	.parent{
		background: #fff;
		border-bottom: 1px solid #e4e7ed;
	}

	.navigation-links > ul > li{
		padding:5px;
	}
	

	@media (min-width: 992px) {
	    .navigation-links > ul > li{
			padding:13px;
		}
	}

	@media (max-width: 550px) {
	    .remove-links{
	    	display: none;
	    }
	}

	@media (max-width: 375px) {
	    .navigation-links > ul > li{
			padding:0px;
		}
		.parent-floating{
			position: fixed;
			width: 100%;
			z-index: 2;
		}
	}

	@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 
    	.parent-floating{
			position: fixed;
			width: 100%;
			z-index: 2;
		}	
    }

    @media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {
    	.parent-floating{
			position: fixed;
			width: 100%;
			z-index: 2;
		}	
    }

	@media (min-width: 1200px) {
	   .navigation-links > ul > li{
			padding:15px;
		}
	}

	.navigation-links > ul{
		display: inline-flex;
		list-style: none;
		padding-inline-start: 0;
	}
	.align-right-links{
		margin-left:auto;
	}

	.logo{
		margin-right:20px;
	}

	.logo > img{
		width:180px;
	}

	.logo-mob > img{
		margin-right:10px;
		margin-top:10px;
		width:70px;
		margin-bottom:10px;
	}
</style>
